<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{'layout/default'}">
<!--<head>-->
<!--<title th:text="视频网站"></title>-->
<!--<link rel="stylesheet" th:href="@{/views/index/index.css}">-->
<!--</head>-->

<body>

<div layout:fragment="content">
    <div th:if="${videos != null &amp;&amp; not #lists.isEmpty(videos)}">
        <video th:each="videoItem:${videos}" class="b-lazy" controls width="320" height="240">
            <source th:data-src="${videoItem.filePath} + '.mp4'" type="video/mp4">
            <source th:data-src="${videoItem.filePath} + '.webm'" type="video/webm">
            <source th:data-src="${videoItem.filePath} + '.ogg'" type="video/ogg">
        </video>
    </div>
</div>

<th:block layout:fragment="script">
<script th:src="@{/components/swiper.js}"></script>
<script th:src="@{/components/floatButton.js}"></script>
<script th:src="@{/views/index/index.js}"></script>
</th:block>

</body>
</html>