<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{'layout/error'}">
<head>
    <title th:text="#{404.head.title}"></title>
    <meta name="keywords" th:content="#{404.head.keywords}">
    <meta name="Description" th:content="#{404.head.description}">
    <link rel="stylesheet" th:href="@{/views/error/404.css}">
</head>
<body>

<div layout:fragment="content">
    <div class="row error-404">
        <div class="col-md-6 error-404__main">
            <h1 class="error__title" th:text="#{error.404.title}"></h1>
            <h6 class="error__desc" th:text="#{error.404.description1}"></h6>
            <h6 class="error__desc" th:text="#{error.404.description2}"></h6>
            <button class="btn btn-primary rounded-pill error-404__button" type="button" th:text="#{error.button.back}" onclick="window.history.back();"></button>
        </div>
        <div class="col-md-6 error-404__image">
            <img class="error__image" src="https://ai-study1.oss-cn-shenzhen.aliyuncs.com/prod/static/404.png?x-oss-process=image/resize,w_468,h_295" th:alt="#{error.content.illustrations}">
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/views/error/404.js}"></script>
</th:block>
</body>
</html>
