<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{'layout/error'}">
<head>
    <title th:text="#{500.head.title}"></title>
    <meta name="keywords" th:content="#{500.head.keywords}">
    <meta name="Description" th:content="#{500.head.description}">
    <link rel="stylesheet" th:href="@{/views/error/500.css}">
</head>
<body>

<div layout:fragment="content">
    <div class="error-500">
        <h1 class="error__title" th:text="#{error.500.title}"></h1>
        <h6 class="error__desc" th:text="#{error.500.description1}"></h6>
        <h6 class="error__desc" th:text="#{error.500.description2}"></h6>
        <button class="btn btn-primary rounded-pill error__button" type="button" th:text="#{error.button.back}" onclick="window.history.back();"></button>
        <div class="error-500__image">
            <img class="error__image" src="https://ai-study1.oss-cn-shenzhen.aliyuncs.com/prod/static/500.png?x-oss-process=image/resize,w_516,h_259" th:alt="#{error.content.illustrations}">
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/views/error/500.js}"></script>
</th:block>
</body>
</html>
