<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contact_area">
  <div class="contact-area">
    <h3 class="contact-area__title text-white" th:text="#{components.contactArea.title}"></h3>
    <p class="contact-area__desc text-white" th:text="#{components.contactArea.description}"></p>
    <button class="btn btn-lg btn-outline-light rounded-pill contact-area__button" type="button" th:text="#{components.contactArea.button}" onclick="buttonToPage('/contact')"></button>
  </div>
</div>
</html>
