<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="float_button(type)">
  <button class="float-button btn btn-light" type="button" onclick="onClick(this)">
    <div th:if="${type == 'contact'}" class="float-button__contact" data-type="contact">
      <i class="iconfont icon-youxiang float-button__icon"></i>
      <span class="float-button__text" th:text="#{components.floatButton.contact}"></span>
    </div>
    <div th:if="${type == 'top'}" class="float-button__top" data-type="top">
      <i class="iconfont icon-xiala float-button__icon"></i>
      <span class="float-button__text" th:text="#{components.floatButton.top}"></span>
    </div>
  </button>
</div>
</html>
