<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="partner_list(list)">
  <div class="container partner-list">
    <ul class="row list-unstyled">
      <li class="col-6 col-sm-4 col-lg-3 col-xl-2" th:each="item:${list}">
        <div class="partner-list__item">
          <img class="lazyload partner-list__image" th:data-original="${item.picture} + '?x-oss-process=image/resize,w_160,h_60'" th:alt="${item.key}" width="160" height="60">
        </div>
      </li>
    </ul>
  </div>
</div>
</html>
