<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="base_footer">
    <footer class="base-footer bg-dark text-white">
        <div class="container base-footer__mian">
            <div class="row">
                <div class="col-md-6 col-lg base-footer__contact">
                    <div class="base-footer__title">
                    </div>
                    <div class="base-footer__content">
                        <div class="base-footer__contact-icon">
                            <a href="https://www.facebook.com/Ai-House-313211606241093" target="_blank"><i class="iconfont icon-NGlianshu"></i></a>
                            <a href="https://twitter.com/AiHouse_com" target="_blank"><i class="iconfont icon-twitter-circle-fill"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg base-footer__country">
                    <div class="base-footer__content">
                        <div class="form-group base-footer__select base-footer__select-lang">
                            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <select class="form-control">
                                    <option value="en_us">English</option>
                                    <!-- <option value="zh_CN">简体中文</option>
                                    <option value="zh_TW">繁体中文</option> -->
                                </select>
                                <i class="iconfont icon-xiala base-footer__select-icon"></i>
                            </div>
                            <ul class="dropdown-menu base-footer__dropdown">
                              <li class="dropdown-item base-footer__dropdown-item" data-value="en_us">English</li>
                              <!-- <li class="dropdown-item base-footer__dropdown-item" data-value="zh_CN">简体中文</li>
                              <li class="dropdown-item base-footer__dropdown-item" data-value="zh_TW">繁体中文</li> -->
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="base-footer__divider"></div>
    </footer>
</div>
</html>
